h3 {
    font-weight: bold;
    font-size: calc(18px + (24 - 16) * (100vw - 400px) / (800 - 400));
}
.gameContainer {
    max-width: 1020px;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 30px;
}

@media (max-width: 1040px) {
    .gameContainer {
        margin: 0 30px;
    }
}